* {
    text-decoration: none;
   font-family: "TT_Norms_Pro", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans",
    Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    margin: 0;
    padding: 0;
     

}

#nav_div_1>div>a{
    color: #ffffff;
}
#nav_main {
    /* border: 2px solid blue; */
    background-color: #0c3245;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1000;

}




#nav_div_1 {

    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #0c3245;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    position: relative;

}

#nav_div_1>div {
    font-size: 16px;
    font-weight: bold;
    /* transition: .3s; */
}





#wrike_img {
    margin-top: 10px;
}

#nav_div_1>div:hover {
    color: #08cf65;
    cursor: pointer;

}

.dropdown_menu_Product {
    display: none;
    line-height: 50px;

}

.dropdown_menu_Product>div>a {
    color: black;
}

#product_drop {
    line-height: 70px;
}

#product_drop:hover .dropdown_menu_Product {
    display: block;
    position: absolute;
    left: 20%;
    top: 100%;
    /* width: 150px ; */
    padding: 20px;
    font-size: 16px;
    background-color: #ffffff;
    border-top: 2px solid #08cf65;

    transition: .3s linear;
       
}

.dropdown_menu_Product>div>a:hover {
    color: #08cf65;
}

/* ----------------------------SOLUTIONS DROP DOWN MENU */
#solution_drop {
    line-height: 70px;
}

.dropdown_menu_solution {
    display: none;
    line-height: 20px;

}

.dropdown_menu_solution>div>div {
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 20px;
}

.dropdown_menu_solution>div>div>a,
h3 {
    color: black;
    /* margin-top: 50px; */
}

#solution_drop:hover .dropdown_menu_solution {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 45%;
    top: 100%;
    width: 450px;
    padding: 20px;
    font-size: 16px;
    background-color: #ffffff;
    border-top: 2px solid #08cf65;

    transition: .3s linear;

}

.dropdown_menu_solution>div>div>a:hover {
    color: #08cf65;
}

/* DROP DOWN MENU RESOURCES -------> */

#resource_drop {
    line-height: 70px;
}

.dropdown_menu_resource {
    display: none;
    line-height: 20px;

}

.dropdown_menu_resource>div>div {
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 20px;
}

.dropdown_menu_resource>div>div>a,
h3 {
    color: black;
    /* margin-top: 50px; */
}

#resource_drop:hover .dropdown_menu_resource {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 80%;
    top: 100%;
    width: 450px;
    padding: 20px;
    font-size: 16px;
    background-color: #ffffff;
    border-top: 2px solid #08cf65;




}

.dropdown_menu_resource>div>div>a:hover {
    color: #08cf65;
}




/* --------------------NAV DIV -->2   -------------------------- */

#nav_div_2 {
    /* border: 2px solid green; */
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    /* background-color: #151E3D; */
    background-color: #0c3245;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
}

#nav_div_2>div {
    font-size: 16px;
    font-weight: bold;
}

#nav_div_2>div>button {
    background-color: #08cf65;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#nav_div_2>div>button:hover {
    background-color: #19cd6de0;
}

#nav_div_2>div:hover {
    color: #08cf65;
    cursor: pointer;
}

/* ----------------------------------------mAIN HOME PAGE COLOR BLUE----------- */
#container_main_home_page {
    position: relative;
    top: -50px;
}

#main_home {
    background-color: #0c3245;
    background-image: url("https://www.wrike.com/tp/storage/uploads/cffacf70-9be3-47e1-a1ea-a1f93f1a120c/rebrand-hero-illustration-homepage-screenshots-dark-1920x680-2x.png");
    background-size: 122%;
    background-position: 45%;


    /* border: 2px solid red; */
    height: 600px;
}

#main_home_heading>h1 {
    width: 50%;
    /* border: 2px solid red; */
    text-align: center;
    position: absolute;
    left: 26%;
    top: 9%;

    color: #ffffff;
    font-size: 50px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-weight: bold;
}

#main_home>div>p {
    width: 40%;
    /* border: 2px solid red; */
    text-align: center;
  
    color: #ffffff;
    line-height: 30px;
    font-size: 20px;
    position: absolute;
    left: 31%;
    top: 21.5%;
}

#main_home_input {
    display: flex;
    position: absolute;
    left: 34%;
    margin-top: 28%;

    /* justify-content: center; */
}

#main_home_input>div {
    /* width: 20%; */
    /* border: 2px solid red; */
    height: 60px;
}

#main_home_input>div>input {
    padding: 22px;
    font-size: 20px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid black;

    /* text-align: center; */
}

#main_home_input>div>button {
    padding: 22px;
    font-size: 20px;
    width: 110%;
    border-radius: 5px;
    background-color: #08cf65;
    border: none;
    margin-left: 39%;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#main_home_input>div>button:hover {
    padding: 22px;
    font-size: 20px;
    width: 110%;
    border-radius: 5px;
    background-color: #18c96acc;
    border: none;
    margin-left: 39%;
    color: #ffffff;
    font-weight: bold;
}

#extended_main_home {
    /* border: 2px solid white; */
    background-color: #181f38;
    height: 900px;

}


/* Responsive Media ----------- */

#nav_responsive{
    display: none;
}


/* extended_main_home */

#extended_main_home{
   position: relative;
}

#extended_p{
    text-align: center;
   color: #ffffff;
   position: absolute;
   top: 10%;
   left: 38%;
     
}
#extended_images{
    /* border: 2px solid red; */
    width: 70%;
    height: 80px;
    margin:  auto;
    position: absolute;
    top: 16%;
    left: 15%;
    display: flex;
    justify-content: space-between;

}

/* -------------------extended_paraImages */

#extended_paraImages{
    /* border: 2px solid red ; */
    height: 550px;
    width: 75%;
    position: relative;
    top: 27%;
    left: 13%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;

}
#extended_paraImages>div:nth-child(1){
    /* border: 2px solid white; */
    width: 45%;
    height: 400px;
    font-size: 35px;
    position: absolute;
    left: 0;
    top: 21% ;
  

}
#extended_paraImages>div:nth-child(2){
    /* border: 2px solid black; */
    width: 40%;
    height: 550px;
    font-size: 35px;
    position: absolute;
    right: -25%;
    top: 0;
}
#extended_para p{
    font-size: 17.5px;
    line-height: 28px;
   margin-bottom: 20px;
    
}
#extended_para>h1{
    font-size: 36px;
   margin: 25px 0px;

}
#extended_heading_register{
    color: #08cf65;
    font-size: 20px;
    cursor: pointer;

}
#extended_heading_register:hover{
    color: #11c665d6;
   
}

/* ---------STORY FROM OUR CUSTOMERS ------- */
    
#main_story{
    height: 900px;
    background-color: #04454d;
    margin-top: -57px;
    
}
#main_story>h1{
    text-align: center;
    color: #ffffff;
   padding-top: 5%;
   font-size: 47px;
}
   #main_story_main_div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;

   }
#main_story_main_div>div{
border: 2px solid white;
width: 30%;
height: 400px;

}
#main_story_main_div>div:nth-child(2){
    width: 40%;
}
#main_story_images>img{
    width: 110%;
  border-top-left-radius: 200px;
}
#main_story_customer_review{
    position: relative;
}
  #main_story_customer_review>p:nth-child(1){
    font-size: 32px;
    color: #ffffff;
    line-height: 43px;
    font-family: serif;
  }

  #main_story_customer_review>p:nth-child(2){
    font-size: 20px;
    width: 70%;
    color: #ffffff;
    line-height: 32px;
    font-family: serif;
    margin: 22px 0px;
  }
  #main_story_customer_review>h3{
    font-size: 22px;
   color: #08cf65;

  }
  #company_name_img{
   position: absolute;
   right: 0;
   bottom: 30%;
   width: 20%;
  }
