* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "TT_Norms_Pro", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans",
    Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
div#heading {
  height: 250px;
  border-bottom: 2px solid #acafb6;
  background-image: url("https://web-static.wrike.com/content/themes/wrike/dist/img/vector/rebranding/price/intro-background.svg?v=10a06b924a");
  background-color: #f5f2eb;
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 35px;
}
div#heading > h1 {
  text-align: center;
}
div#tabs {
  /* border: 1px solid red; */
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
div#tabs > button {
  border: 2px solid #acafb6;
  border-bottom: none;
  width: calc(85% / 3);
  height: 50px;
  font-size: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
div#tabs > .active_btn {
  border-top: 3px solid #51e8d4;
  box-shadow: 0px 4px 0px -2px white;
}
/* div#tabs > button:focus {
  border-top: 3px solid #51e8d4;
  box-shadow: 0px 4px 0px -2px white;
} */
div.all_tab {
  /* border: 1px solid red; */
  display: none;
}
div.active_tab {
  display: block;
}

div.plans_tab {
  width: 96%;
  /* border: 2px solid red; */
  margin: auto;
  overflow: hidden;
}
div.plan_slider {
  display: flex;
  width: fit-content;
  gap: 1.5vw;
  transition: 300ms ease-in;
}
div.plan_cards {
  border: 2px solid #acafb6;
  border-radius: 7px;
  width: calc(90vw / 4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  gap: 25px;
  background-color: white;
}
div.plan_cards > h4 {
  font-size: 28px;
}
div.plan_cards > button,
div#client > button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  font-size: 20px;
  background-color: transparent;
  color: #04454d;
  border: 2px solid #04454d;
  margin-top: auto;
  cursor: pointer;
}
div.plan_cards > button:hover,
div#client > button:hover {
  background-color: #04454d;
  color: white;
  transition: 300ms;
}

button.try_free {
  background-color: #08cf65 !important;
  border: 2px solid #08cf65 !important;
  color: white !important;
}
button.try_free:hover {
  background-color: #04ba71 !important;
  border: 2px solid #04ba71 !important;
}

div#sliding_btn > button {
  /* border: 2px solid red; */
  /* transform: rotate(90deg); */
  position: absolute;
  top: 400px;
  background-color: #04454d;
  height: 150px;
  padding: 0 10px;
  border: none;
}
button#left_arrow {
  left: 0;
  /* transform: translate(-50%, -50%); */
}
button#right_arrow {
  right: 0;
  /* transform: translate(-50%, -50%); */
}
div#sliding_btn > button > span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.popup_box {
  /* border: 1px solid black; */
  width: 40%;
  padding: 0 20px 20px 20px;
  text-align: center;
  /* position: fixed; */
  margin: auto;
  display: block;
  transform: translate(0%, 50%);
  right: 10%;
  background-color: white;
  border-radius: 7px;
  z-index: 1;
  visibility: hidden;
}
.popup_email {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  display: block;
  visibility: hidden;
}
.show_popup {
  visibility: visible;
}
.popup_box > * {
  margin: 20px auto;
}
.popup_box > div > span {
  /* border: 1px solid black; */
  display: inline-block;
  transform: rotate(45deg);
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 97%;
}
.popup_box > button,
.popup_box > input {
  display: block;
  margin: 10 auto;
  width: 100%;
  height: 40px;
}
.popup_box > button {
  background-color: #08cf65;
  border: none;
  font-size: 20px;
  color: white;
}

div.feature_container {
  display: flex;
  gap: 1.5vw;
  transition: 300ms ease;
}
.plan_features::before {
  content: "\f058";
  margin-right: 5px;
  font-family: "Font Awesome 6 Free";
  color: green;
}
div.hide_feature {
  margin-top: -50px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  transition: 100ms ease-out;
}

button.feature_button {
  display: block;
  margin: 60px auto;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #0a615a;
}

button.feature_button > span {
  /* border: 1px solid black; */
  margin-left: 25px;
  transition-duration: 0.5s;
}

div.plans_banner {
  margin: 60px auto;
  border-radius: 7px;
  /* height: 130px; */
  text-align: center;
  padding: 50px;
  background-color: #ebf5f3;
  background-image: url("https://web-static.wrike.com/content/themes/wrike/dist/img/vector/rebranding/price/banner-background-left.svg?v=9a00b45536");
}
div.commonTab_box {
  width: 60%;
  margin: auto;
  padding: 35px;
  border-radius: 7px;
  border: 2px solid #acafb6;
}
div.commonTab_box > h4 {
  font-size: 28px;
}
div.commonTab_box > p:nth-child(2) {
  font-weight: bold;
}
div.commonTab_box > * {
  margin: 10px auto;
}
div.commonTab_box > button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  font-size: 20px;
  background-color: transparent;
  color: #04454d;
  border: 2px solid #04454d;
  margin-top: auto;
  cursor: pointer;
}

div#tab_section + div {
  /* border: 1px solid black; */
  padding: 10px 10%;
  text-align: center;
  font-size: 18px;
}

div.brand_logo {
  /* border: 1px solid blue; */
  margin: 35px auto;
}
div.brand_logo > div:nth-child(1) {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}
div.brand_logo > div:nth-child(2) {
  text-align: center;
  color: #657694;
}

div#add_on_feature {
  /* border: 1px solid red; */
  background-color: #ebf5f3;
}
.sub__title {
  text-align: center;
  padding: 10px 20%;
}
h2.header_title {
  font-size: 40px;
}
p.header_subtitle {
  font-size: 20px;
  margin: 30px auto;
}

div#add_on_feature > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 35px;
}
div#add_on_feature > div > div {
  /* border: 1px solid blue; */
  background-color: white;
  border-radius: 5px;
  display: flex;
  transition: 0.4s;
  padding: 30px 15px;
}
div#add_on_feature > div > div:hover,
img.hover_effect:hover {
  background-color: #04454d;
  transition: 0.4s;
  opacity: 1;
  color: white;
}

div#add_on_feature > div > div > div:nth-child(2) > * {
  margin: 10px auto;
}
h5.name_card {
  font-size: 24px;
  margin: 20px auto;
}
p.card_text {
  font-size: 18px;
  line-height: 1.7;
}
/* div#add_on_feature > div > div > div:nth-child(1) {
  border: 1px solid red;
}
div#add_on_feature > div > div > div:nth-child(1) > img {
}
div#add_on_feature > div > div > div:nth-child(2) {
  border: 1px solid black;
} */
div#add_on_feature,
div#client {
  margin: 90px auto;
}
img.hover_effect {
  position: absolute;
  margin-left: -64px;
  opacity: 0;
}

div.client_card_container {
  display: flex;
  gap: 25px;
  padding: 25px 80px;
}
div#client > button {
  width: 250px;
  margin: auto;
}

div#faq {
  background-color: #ebf5f3;
  padding: 60px 0;
}

div.faq_boxes {
  background-color: white;
  margin: 20px auto;
  width: 60%;
  border-radius: 17px;
  overflow: hidden;
  cursor: pointer;
  transition: 500ms ease;
}
div.faq_boxes > button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  transition: 500ms ease;
}
div.faq_boxes > p {
  padding: 10px 20px;
  transition: 500ms ease;
  line-height: 1.7;
  overflow: hidden;
}
p.collapse_text {
  /* margin-top: -50px; */
  visibility: hidden;
  font-size: 0px;
  color: white;
}
.fa-caret-up {
  transition-duration: 0.5s;
}
button.collapse_text:hover {
  color: white;
}
div.collapse_text:hover {
  background-color: #04454d;
}

div#help_section {
  background-color: #04454d;
  margin: auto;
  padding: 60px 0;
  background-image: url("https://www.wrike.com/content/uploads/2020/06/rebrand-cta-center-2_right_mint_1x.png"),
    url("https://www.wrike.com/content/uploads/2020/06/rebrand-cta-center-2_left_mint_1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
}
div#help_section > * {
  margin: 50px 0;
}
div#help_section > h2,
div#help_section > p {
  color: white;
  text-align: center;
}
div#help_section > h2 {
  font-size: 40px;
}
div#help_section > button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border: none;
  color: #04454d;
  font-size: 20px;
  display: block;
  margin: 20px auto;
}
