* {
  margin: 0px;
  padding: 0px;
}
#navbar {
  border: 1px solid red;
  width: 100%;
  height: 100px;
}
header {

}
#left img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 100px;
  /* border: 1px solid red; */
}

}

#review h1 {
  /* border: 1px solid red; */
  padding-left: 20px;
  padding-top: 30px;
}
#review p {
  /* border: 1px solid black; */
  padding-left: 20px;
  margin-left: 0px;
}
.box-top {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.box-top strong {
  /* border: 1px solid red; */
  font-size: 16px;
}
.four {
  font-size: 30px;
  margin-right: 10px;
}
.fa {
  font-size: 20px;
}

.checked {
  color: green;
}
.submit_a_review {
  /* border: 1px solid red; */
  /* margin-top: 20px; */
   font-size: 20px;
}
.box-top h4 {
  /* border: 1px solid red; */
  margin-top: 20px;
}
/* RIGHT BOX **********************/

  /* border: 1px solid blue; */
  width: 70%;
  display: flex;
  
  margin: 10px;
}

}
.heading {
  /* border:5px solid black; */
  height: 20px;
  font-size: 25px;

.fa {
  font-size: 25px;
}

.checked {
  /* border: 1px solid red; */
  color: orange;
}
