*{
  margin: 0px;
  padding: 0px;
}
#navbar{
    border: 1px solid red;
    width: 100%;
    height: 100px;
}
header {
    /* border: 1px solid blue; */
    width: auto;
    height: auto;
    background-image:url("images/two_people.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    /* border: 1px solid black; */
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: white; */
  }
  
  section h3 {
    border: 1px solid black;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    border: 1px solid black;
    /* margin: 30px 0 20px 0; */
    font-size: 55px;
    font-weight: 700;
    /* text-shadow: 2px 1px 5px black; */
  }
  
  section p {
    border: 1px solid pink;
    font-size: 25px;
    word-spacing: 2px;
    /* margin-bottom: 25px; */
    text-shadow: 1px 1px 1px black;
  }
  
  .btntwo {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    background: green;
    color: white;
    padding: 30px 30px;
    font-size: 16px;
    font-weight: bold;
  }
  #inputBox{
    background: white;
    color: #000;
    padding: 30px 100px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  } 
.btntwo:hover{
    background: green;
    color: #000;
  }
 
  #inputBox:hover{
    background: white;
    color: #000;
  }
/********************* Gartner ********************/
#third-container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap:130px;
}
#left,#right{
    /* border: 1px solid red; */
    height: 600px;
    width: 600px;
}
#left img{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 100px;
  /* border: 1px solid red; */
}
#citrix-wrike-box{
   /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
   margin-left: auto;
   margin-top: 50px;
   margin-right: auto;
   /* border: 1px solid red; */
    height: 250px;
    width: 400px;
   background-color: #ebf5f3;
   border-radius: 20px;
}
#citrix-wrike-box p{
  /* border: 1px solid red;; */
  /* line-height: 1px; */
}

#review h1{
  /* border: 1px solid red; */
  padding-left: 20px;
 padding-top: 30px;
}
#review p{
  /* border: 1px solid black; */
  padding-left: 20px;
  margin-left: 0px;
}
.box-top{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.box-top strong{
  /* border: 1px solid red; */
  font-size:16px;
}
.four{
  font-size: 30px;
  margin-right: 10px;
}
.fa {
  font-size: 20px;
}

.checked {
  color: green;
}
.submit_a_review{
  /* border: 1px solid red; */
  /* margin-top: 20px; */
   font-size: 20px;
}
.box-top h4{
  /* border: 1px solid red; */
  margin-top:20px;
}
/* RIGHT BOX **********************/




#right div{
  /* border: 1px solid blue; */
  width: 70%;
  display: flex;
  
  margin: 10px;
}
#right-star{
max-width: 500px; /* Max width */
height: 20px;
/* border:5px solid black; */
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 10px;
height: 30px;
padding: 15px;
}
.heading {
  /* border:5px solid black; */
  height: 20px;
  font-size: 25px;
  margin-left:30px;
  opacity: 40%;
  font-size: 15px;
}

.fa {
  font-size: 25px;
}

.checked {
  /* border: 1px solid red; */
  color: orange;
}
/* do_best_box *************************/

#do_best_box{
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  position: relative;
  /* border: 2px solid red; */
  background-color: #04454d;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#do_best_box div{
  /* border: 2px solid red */
}

.container {
  /* border: 2px solid yellow; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.container h1 {
  margin: 0;
  font-size: 60px;
}

.container h1 span {
  /* border: 6px solid black; */
  /* padding: 6px 14px; */
  /* display: inline-block; */
}

.cen {
  margin: 20px;
  display: block;
  font-size: 22px;
}

/*************************** Integrate_box */


#Integrate_box{
  border: 2px solid red;
  height: auto;
  display: grid;
  background-color: #181f38;
  grid-template-columns: repeat(2,1fr);
}
#Integrate_box div{
   /* border: 1px solid red; */
}
#Integrate_box img{
  /* border: 3px solid red; */
  height: 500px;
  width: 100%;
}
#Integrate_box div:nth-child(1) {
  /* border:3px solid black; */
  margin: auto;
  padding: 20px;
}
#Integrate_box div:nth-child(1) p {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 20px;
  color: white;
}
#Integrate_box div:nth-child(1) h3 {
  /* border:3px solid black */
  padding: 10px;
  color: green;
  font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
#Integrate_box div:nth-child(1) h3:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#Integrate_box div:nth-child(1) h1 {
  font-feature-settings: "ss01" on,"tnum" on;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 36px; */
  margin: 0 0 20px;
  color: white;

}

/*************************** READY TO USE */

#ready_box{
  border: 2px solid red;
  height: 1000px;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(2,1fr);
  padding-left: 60px;
}
#ready_box div{
  border: 1px solid red;
}
#ready_box div:nth-child(1) {
  border:3px solid black;
  margin: auto;
  padding: 20px;
}
#ready_box div:nth-child(1) p {
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 20px;
  color: black;
}
#ready_box div:nth-child(1) h1 {
  border: 1px solid pink;
  font-size: 60px;
  /* line-height: 32px; */
  margin: 0 0 20px;
  color: black;
}