#navbar{
    border: 1px solid red;
    width: 100%;
    height: 100px;
}
header {
    border: 1px solid blue;
    width: 100%;
    height: 550px;
    background-image:url("./two.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    border: 1px solid black;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: white; */
  }
  
  section h3 {
    border: 1px solid black;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    border: 1px solid black;
    /* margin: 30px 0 20px 0; */
    font-size: 55px;
    font-weight: 700;
    /* text-shadow: 2px 1px 5px black; */
  }
  
  section p {
    border: 1px solid pink;
    font-size: 25px;
    word-spacing: 2px;
    /* margin-bottom: 25px; */
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  section .btnone {
    /*background: #00b894;*/
    background: #fff;
    color: #000;
  }
  
  .btnone:hover {
    background: #00b894;
    color: white;
  }
  
  section .btntwo {
    background: #00b894;
    color: white;
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  }
  